{% extends 'web/base.html' %}
{% block content %}
    {% if validlink %}
    <h2>Пожалуйста введите и подтвердите свой новый пароль.</h2>
    <div class="p-4 p-md-5 mb-4 text-white rounded">
        <div class="container text-center">
            <label class="text-dark" for="">{{ form.new_password1.errors }}</label>
            <label class="text-dark " for="">{{ form.new_password2.errors }}</label>
        </div>

        <div class="input-group mb-3 justify-content-center">
            <form action="" method="post" class="">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" name="new_password1">
                </div>
                <div class="mb-3">
                    <input type="text" name="new_password2">
                </div>
                <input type="submit" class="btn btn-dark btn-outline-light justify-content-flex-end mb-3 bg-pinky" value="Сменить пароль">
            </form>
    
        </div>
    
    </div>
    {% else %}
    <h2>Ошибка при смене пароля</h2>
    <h3>Ссылка на сброс пароля недействительна. Пожалуйста, запросите нвоый сброс пароля.</h3>
    {% endif %}
{% endblock content %}